.divider {
  background-color: #7a7a7a;
  border-radius: 20px;
}

.home-column-separator {
  height: 96vh;
  width: 1.5px;
}

.home-section-separator {
  width: 97%;
  height: 1.5px;
}

.home-card-separator {
  height: 1.5px;
  width: 100%;
}
