$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);
$light: hsl(187, 8%, 95%);
$dark: hsl(0, 0%, 35%);
$primary: hsl(172, 25%, 32%);
$link: hsl(205, 65%, 41%);
$info: hsl(187, 70%, 65%);
$success: hsl(165, 60%, 42%);
$warning: hsl(50, 100%, 67%);
$danger: hsl(358, 100%, 55%);
